<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="{{ site.author.name }}">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <title>{% if page.title %}{{ page.title }} — {% endif %}{{ site.title }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/images/favicon.ico' | relative_url }}" type="image/x-icon">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
  <script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>
  {% if page.echarts %}
  <script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>
  {% endif %}
</head>
